@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-btn {
  background-color: #27203d;
}

.color1 {
  background-color: #443c68;
}

.color2 {
  background-color: #635985;
}

@layer components {
  .form-control {
    @apply w-full bg-palette2 p-3 rounded outline-none text-gray-400 focus:ring-[3px] ring-palette4 transition-all duration-300 placeholder:capitalize;
  }
  .btn-indigo {
    @apply w-1/4 p-3 cursor-pointer text-white rounded-lg;
  }
  .input-label {
    @apply text-gray-400 mb-2 block;
  }
  .container {
    @apply max-w-screen-xl w-full mx-auto px-6;
  }
  .nav__item {
    @apply ml-8;
  }
  .nav__link {
    @apply text-base font-medium;
  }
  .header {
    @apply w-full h-[300px] bg-[url('./assets/images/header.jpg')] bg-no-repeat bg-cover relative -z-10;
  }
  .header-cover {
    @apply absolute inset-0 w-full h-full bg-black/40;
  }
  .header-heading {
    @apply text-white text-2xl capitalize font-medium;
  }
  .heading {
    @apply text-lg capitalize font-medium;
  }
  .form-label {
    @apply block mb-1.5 text-sm font-medium capitalize text-gray-700;
  }
  .form-input {
    @apply w-full border px-3 py-3 border-gray-300 rounded-md outline-none mb-4;
  }
}
